 .col-card{
     margin-left: 130px;
 }
 .container{
    margin-top: 100px;
}

.ad-time{
    color: red;
    
}
a{
    text-decoration: none;
    color: inherit;

}

.highlight{
    
    border: 1px solid blue;

  }